/* CSS declarations go here */

.col-center {
    text-align: center;
}

.voffset50 {
    margin-top: 50px;
}

.voffset30 {
    margin-top: 30px;
}

.fa-delete {
    color: gray;
    cursor: pointer;
    vertical-align: middle;
}

.fa-delete:hover {
    color: red;
}

.calendar-container {
   height: 175px;
   border-right: 1px solid black;
   border-bottom: 1px solid black;
   padding: 0;
   margin: 0;
}

.calendar-container-title {
   height: 50px;
   border-right: 1px solid black;
   border-bottom: 1px solid black;
   border-top: 1px solid black;
   padding: 2px;
   padding-left: 5px;
   margin: 0;
}

.calendar-title {
    font-size: 20px;
    margin-top: 6px;
}

.calendar-number {
    font-size: 14px;
    margin-top: 5px;
    margin-left: 5px;
}

.calendar-content {
    margin-top: 5px;
    padding: 5px;
    background-color: #eeeeee;
    cursor: pointer;
}

.background-video {
    background-color: #ffe6e6;
}

.background-article {
    background-color: #e6f2ff;
}

.background-podcast {
    background-color: #e6ffe6;
}

.calendar-content-name {
    font-size: 16px;
}

.calendar-content-description {
    font-size: 16px;
}

.row {
    margin-top: 15px;
    vertical-align: middle;
}

.task-details-name {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}

.process-detail-header {
    vertical-align: bottom;
}

.col-title {
    font-weight: bold;
}

body {
    font-size: 20px;
}

video {
    width: 100%;
    height: auto;
    border: 1px solid black;
}

.step-row {
    margin-left: 0px;
}

.process {
    font-size: 26px;
}

.process-title {
    font-size: 40px;
    margin-bottom: 15px;
}

.process-category {
    margin-top: 15px;
}

.label-category {
    font-size: 20px;
}

.task-name {
    margin-left: 10px;
    display: inline;
}

.completed-task {
    color: lightgray;
}

.completed-task a {
    color: lightgray;
}

.late-task {
    color: red;
}

.late-task a {
    color: red;
}

.late-task .check-task {
    border: 2px solid red;
}

.completed-task .check-task {
    border: 2px solid lightgray;
}

.completed-task .check-task:hover  {
    border: 2px solid lightgray;
    cursor: default;
    color: lightgray;
}

.check-task {

    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid black;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    display: inline-block;

}

.check-task:hover {
    color: green;
    cursor: pointer;
    border: 2px solid green;
}

.step-order {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    background: #000
}

.step-title {
    margin-top: -5px;
    font-size: 30px;
}

.step-content {
    margin-top: 10px;
    color: gray;
}

.voffset30 {
    margin-top: 30px;
}
