/* CSS declarations go here */

.rounded {
   
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background:url("http://www.electricvelocity.com.au/Upload/Blogs/smart-e-bike-side_2.jpg") center no-repeat;
    background-size:cover;
}

.text-bold {
    font-weight: bold;
}

.col-center {
    text-align: center;
}

.voffset50 {
    margin-top: 50px !important;
}

.voffset30 {
    margin-top: 30px !important;
}

.content-progress {
    float: right;
}

.calendar-picture-task {
    height: 22px;
    float: left;
    margin-right: 5px;
}

.picture-task {
    height: 30px;
    float: left;
    margin-right: 10px;
}

.fa-delete {
    color: gray;
    cursor: pointer;
    vertical-align: middle;
}

.fa-delete:hover {
    color: red;
}

.row-calendar {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

.calendar-container {
    min-height: 175px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0;
    margin: 0;
}

.calendar-container-title {
    height: 50px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 2px;
    padding-left: 5px;
    margin: 0;
}

.calendar-title {
    font-size: 20px;
    margin-top: 6px;
}

.calendar-number {
    font-size: 14px;
    margin-top: 5px;
    margin-left: 5px;
}

.calendar-content {
    margin-top: 5px;
    padding: 5px;
    cursor: pointer;
}

.background-generic {
    background-color: #eeeeee;
}

.background-video {
    background-color: #ffe6e6;
}

.background-article {
    background-color: #e6f2ff;
}

.background-podcast {
    background-color: #e6ffe6;
}

.calendar-content-name {
    font-size: 16px;
}

.calendar-content-description {
    font-size: 16px;
}

.row {
    margin-top: 15px;
    vertical-align: middle;
}

.task-details-name {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}

.process-detail-header {
    vertical-align: bottom;
}

.col-title {
    font-weight: bold;
}

body {
    font-size: 20px;
}

video {
    width: 100%;
    height: auto;
    border: 1px solid black;
}

.step-row {
    margin-left: 0px;
}

.process {
    font-size: 26px;
}

.process-title {
    font-size: 40px;
    margin-bottom: 15px;
}

.process-category {
    margin-top: 15px;
}

.label-category {
    font-size: 20px;
}

.task-name {
    margin-left: 10px;
    display: inline;
}

.completed-task {
    color: lightgray;
}

.completed-task a {
    color: lightgray;
}

.late-task {
    color: red;
}

.late-task a {
    color: red;
}

.late-task .check-task {
    border: 2px solid red;
}

.completed-task .check-task {
    border: 2px solid lightgray;
}

.completed-task .check-task:hover {
    border: 2px solid lightgray;
    cursor: default;
    color: lightgray;
}

.check-task {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid black;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    display: inline-block;
}

.check-task:hover {
    color: green;
    cursor: pointer;
    border: 2px solid green;
}

.step-order {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    background: #000
}

.step-title {
    margin-top: -5px;
    font-size: 30px;
}

.step-content {
    margin-top: 10px;
    color: gray;
}

.voffset30 {
    margin-top: 30px;
}
